extends layout.pug

block content
    include navbar.pug
    link(rel='stylesheet' href='/stylesheets/about.css')
    h1(class="about-title") TacoTea: Meet the Team!
    div(class="about-outer-container")
        div(class="about-inner-container")
            div(class="about-person")
                a(class="site-link" href="https://www.linkedin.com/in/christianpettet/" target="_blank")
                    i(class="fab fa-linkedin-in fa-2x big-link" )
                a(class="site-link" href="https://github.com/cpettet" target="_blank")
                    i(class="fab fa-github-square fa-2x big-link")
                a(class="site-link" href='mailto:cpettet11@gmail.com', class="about-link")
                    i(class="fas fa-envelope fa-2x big-link")
                img(class="person-img" alt="Avatar" src="https://avatars.githubusercontent.com/u/71297280?v=4")
                p Christian Pettet: I'm a full-stack software engineer, and I'm a DIYer who can do it all. I can comfortably renovate a bathroom, cut firewood or hair, culture mammalian cells, or build dynamic websites. I love picking up new skills and trying new things and I'm starting my new career in software development.
        div(class="about-inner-container")
            div(class="about-person")
                a(class="site-link" href="https://www.linkedin.com/in/davis-handler/" target="_blank")
                    i(class="fab fa-linkedin-in fa-2x big-link")
                a(class="site-link" href="https://github.com/handlerda" target="_blank")
                    i(class="fab fa-github-square fa-2x big-link")
                a(class="site-link" href='mailto:handlerdavis@gmail.com', class="about-link")
                    i(class="fas fa-envelope fa-2x big-link")
                img(class="person-img" alt="Avatar" src="https://avatars.githubusercontent.com/u/48835180?v=4")
                p Davis Handler: My name is Davis! I am a full-stack software engineer passionate about all things code, crypto, and travel. I have technical expertise in the following:
        div(class="about-inner-container")
            div(class="about-person")
                a(class="site-link" href="https://www.linkedin.com/in/jimmy-ly-22b925134" target="_blank")
                    i(class="fab fa-linkedin-in fa-2x big-link")
                a(class="site-link" href="https://github.com/lyjimmy1" target="_blank")
                    i(class="fab fa-github-square fa-2x big-link")
                a(class="site-link" href='mailto:lyjimmy19@gmail.com', class="about-link")
                    i(class="fas fa-envelope fa-2x big-link")
                img(class="person-img" alt="Avatar" src="https://avatars.githubusercontent.com/u/77124092?v=4")
                p Jimmy Ly: I am a full-stack software engineer with a background in healthcare. As a lifelong learner, I am also an avid free-style jump-roper, a guitarist-in-training, and a glutton for delicious food.
