extends layout.pug

block content
    include navbar.pug
    link(rel='stylesheet' href='/stylesheets/login.css')
    form(action='/posts' method='post').form-box
        div.input-group
            input(type="text", name="title" value= title, placeholder="Title")
            //- input(type="text", name="postType" value= postType, placeholder="Story or Recipe")
            div.post-type
                label Please select the post type
                select(name="postType")
                    option(value="story" default) Story
                    option(value="recipe") Recipe
            textarea(name="body", placeholder="Let's Taco about it :)")
            input(type="hidden", name="_csrf", value= csrfToken)
            button(type="submit").post-submit Submit 
