extends layout.pug

block content
  include navbar.pug
  link(rel='stylesheet' href='/stylesheets/login.css')
  script(src="/javascripts/form.js")
  form(action='/posts' method='post').form-box
    div.input-group
      input(type="text", name="title" value= title, placeholder="Title")
      div.selection.post-type
        label Please select the post type
        select(name="postType", id="postType", required)
          option(value="story" default) Story
          option(value="recipe") Recipe
      .selection.comments-select
        label Allow user comments?
        select(name="isComments", required)
          option(value='true') Yes
          option(value='false', default, selected) No
      .selection.emojis-select
        label Allow user emojis and likes?
        select(name="isEmojis", required)
          option(value='true' ) Yes
          option(value='false', default, selected) No
      textarea(name="body", placeholder="Let's Taco about it :)", required)
      input(type="hidden", name="_csrf", value= csrfToken)
      div(class="recipe" hidden)
        div.input-group
          input(type="text", name="recipeName", value= recipeName, placeholder="Recipe Name")
          .selection.vegetarian
            label Is this recipe vegetarian?
            select(name="isVegetarian", required)
              option(value="true" default) Yes
              option(value="false") No
          .selection.vegan
            label Is this recipe vegan?
            select(name="isVegan", required)
              option(value="true" default) Yes
              option(value="false") No
          .selection.gluten-free
            label Is this recipe gluten free?
            select(name="isGlutenFree", required)
              option(value="true" default) Yes
              option(value="false") No
          textarea(name="recipeBody", placeholder="Give someone a taco, they eat for a day. Teach them its recipe, they eat for a lifetime.")

      button(type="submit").post-submit Submit
