extends layout.pug
block content 
    link(rel='stylesheet' href='/stylesheets/login.css')
    script(src="/javascripts/login.js" type="module")
    form(action="/users", method="post").form-box
        div.input-group 
            input(type="text", name="username" value=username, placeholder="Username" required)
            input(type="email", name="email" value=email, placeholder="Email" required)
            input(type="password", name="password", placeholder="Password" required)
            input(type="password", name="confirmPassword", placeholder="Confirm Password" required)
            input(type="hidden", name="_csrf", value=csrfToken)
            button(type="submit") Create User
            p: a(href='/users/login') Already have an account?
            button.demo DEMO USER
            if error
                p= error