extends layout.pug

block content
    include navbar.pug
    link(rel='stylesheet' href='/stylesheets/login.css')
    form(action='/posts' method='post').form-box
        div.input-group
            input(type="text", name="title" value= title, placeholder="Title")
            input(type="text", name="postType" value= postType, placeholder="Story or Recipe")
            textarea(name="body", placeholder="Let's Taco about it :)")
            input(type="hidden", name="_csrf", value= csrfToken)
