extends layout.pug

block content
  include navbar.pug
  link(rel='stylesheet' href='/stylesheets/login.css')
  script(src="/javascripts/form.js")

  form.form-box
    div.input-group
      input(type="text", name="title" value= post.title)
      div.selection.post-type
        label Change the post type
        select(name="postType", id="postType", required, value= post.post_type)
          option(value="story") Story
          option(value="recipe") Recipe
      .selection.comments-select
        label Allow user comments?
        select(name="isComments", required)
          option(value="true", selected=(true === post.comments)) Yes
          option(value="false", selected=(false === post.comments)) No
      .selection.emojis-select
        label Allow user emojis and likes?
        select(name="isEmojis", required)
          option(value="true", selected=(true === post.likes)) Yes
          option(value="false", selected=(false === post.likes)) No
      textarea(name="body", required)= post.body
      input(type="hidden", name="_csrf", value= csrfToken)
      div(class="recipe" hidden)
        div.input-group
          .selection.vegetarian
            label Is this recipe vegetarian?
            select(name="isVegetarian", required)
              option(value="true" default) Yes
              option(value="false") No
          .selection.vegan
            label Is this recipe vegan?
            select(name="isVegan", required)
              option(value="true" default) Yes
              option(value="false") No
          .selection.gluten-free
            label Is this recipe gluten free?
            select(name="isGlutenFree", required)
              option(value="true" default) Yes
              option(value="false") No
      div(hidden).error-box
      .crud-buttons
        button#post-edit.edit-buttons Modify
        button#post-delete.edit-buttons Delete
      .emoji-box
        for emoji in emojis 
          div.emoji= emoji

  div(hidden).comment-box
  form.form-box.comment-box
    textarea(name="comment", placeholder= "Lettuce know what you want add")#comment-text-area
    button(name="comment-submit")#add-comment Add Comment
    for comment in comments
      div.comments-container
        p=comment.content
        p=comment.User.user_name
       
