extends layout

append head
    link(rel='stylesheet' href='/stylesheets/footer.css')

block content
    footer.splash-footer
            div.splash-footer-container
                div.christian-div
                    a(href="https://www.linkedin.com/in/christianpettet/" target="_blank")
                        i(class="fab fa-linkedin-in fa-2x big-link" )
                    a(href="https://github.com/cpettet" target="_blank")
                        i(class="fab fa-github-square fa-2x big-link")  Christian Pettet
                div.davis-div
                    a(href="https://www.linkedin.com/in/davis-handler/" target="_blank")
                        i(class="fab fa-linkedin-in fa-2x big-link")
                    a(href="https://github.com/handlerda" target="_blank")
                        i(class="fab fa-github-square fa-2x big-link")  Davis Handler
                div.jimmy-div
                    a(href="https://www.linkedin.com/in/jimmy-ly-22b925134" target="_blank")
                        i(class="fab fa-linkedin-in fa-2x big-link")
                    a(href="https://github.com/lyjimmy1" target="_blank")
                        i(class="fab fa-github-square fa-2x big-link")  Jimmy Ly
