extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/login.css")

  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  include navbar.pug
  div.content-container
    div.header-container
      h2 Taco Feed


