doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel="icon", type="image/png", href="/logo.png")
  body
    block content
