doctype html
html
  head
      block head
        title="Taco Tea"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel="icon", type="image/png", href="/logo.png")
        script(src="https://kit.fontawesome.com/c8dd27a445.js" crossorigin="anonymous")
  body
    block content
