doctype html
html
  head
      block head
        title="Taco Tea"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/footer.css')
        link(rel="icon", type="image/png", href="/logo.png")
        meta(name="description" content="TacoTea App")
        meta(name="title" property="og:title" content="TacoTea")
        meta(property="og:type" content="Website")
        meta(name="image" property="og:image" content="https://live.staticflickr.com/65535/51375464090_f0609e272e_k.jpg")
        meta(name="description" property="og:description" content="TacoTea, a Medium clone, is an application that allows users to post stories and share recipes of their favorite tacos.")
        meta(name="author" content="Christian Pettet, Davis Handler, Jimmy Ly")
        script(src="https://kit.fontawesome.com/c8dd27a445.js" crossorigin="anonymous")
  body
    block content
    block footer
      footer.splash-footer
            div.splash-footer-container
                div.team-div
                    a(href="https://github.com/cpettet/Taco_Tea" target="_blank")
                        i(class="fab fa-github-square fa-2x big-link")  Team Taco Tea
                div.christian-div
                    a(href="https://www.linkedin.com/in/christianpettet/" target="_blank")
                        i(class="fab fa-linkedin-in fa-2x big-link" )
                    a(href="https://github.com/cpettet" target="_blank")
                        i(class="fab fa-github-square fa-2x big-link")  Christian Pettet
                div.davis-div
                    a(href="https://www.linkedin.com/in/davis-handler/" target="_blank")
                        i(class="fab fa-linkedin-in fa-2x big-link")
                    a(href="https://github.com/handlerda" target="_blank")
                        i(class="fab fa-github-square fa-2x big-link")  Davis Handler
                div.jimmy-div
                    a(href="https://www.linkedin.com/in/jimmy-ly-22b925134" target="_blank")
                        i(class="fab fa-linkedin-in fa-2x big-link")
                    a(href="https://github.com/lyjimmy1" target="_blank")
                        i(class="fab fa-github-square fa-2x big-link")  Jimmy Ly
