extends layout.pug
block content
    link(rel='stylesheet' href='/stylesheets/login.css')
    div.form-container
        form(action="/users/login", method="post").form-box
            .input-group
                input(type="email", name="email" placeholder="Email")
                input(type="password", name="password" placeholder="Password")
                input(type="hidden", name="_csrf", value= csrfToken)
                button(type="submit") Login
                p: a(href='/users/new') New account
            
               
    if error
        p= error
