header 
nav 
  img(src="/logo.png", alt="Taco Image", width="300px", height="300px")
  ul.nav-links 
    li: a(href="/") Home
    li: a(href="/posts") Posts
    li: a(href="/recipes") Recipes
    li: a(href="/users/logout") Logout