header
nav
  link(rel='stylesheet' href='/stylesheets/navbar.css')
  img(src="/logo.png", alt="Taco Image", width="300px", height="300px")
  div.navbar-container
    ul.nav-links
      a.link(href="/"): li.nav-link Home
      a.link(href="/posts/new"): li.nav-link Create a Post
      a.link(href='/about'): li.nav-link About Us
      a.link(href="/users/logout"): li.nav-link Logout
