
body{
    background-color: lightgoldenrodyellow;
}

@media screen and (max-width: 800px) {
    .about-person {
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
    }
    .about-inner-container {
      width: 70%;
      min-width: 300px;
    }
  }

  @media screen and (min-width: 801px) {
    .about-person {
      display: flex;
      justify-content: center;
      width: 90%;
      flex-wrap: wrap;
    }
    .about-inner-container {
      width: 40%;
    }
  }

  @media screen and (min-width: 1200px) {
    .about-person {
      display: flex;
      justify-content: center;
      width: 90%;
      flex-wrap: wrap;
    }
    .about-inner-container {
      width: 25%;
    }
  }

  .content-container {
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
  }


  .about-person {
    display: flex;
    justify-content: center;
    display: flex;
    padding: 1rem;
    box-sizing: content-box;
  }

  .about-link {
    margin: 0.5rem;
  }

  .about-inner-container {
    margin: 1rem;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: white;
    border-radius: 10px;
    position: relative;
    align-items: center;
  }

  .about-title {
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .about-outer-container {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    flex-direction: column;
    padding-bottom: 3rem;
  }

  .about-person{
    width: 260px;
    height: fit-content;
    border-radius: 50%;
  }

  .person-img{
    border-radius: 50%;
    width: auto;
  }

  .site-link {
    margin: 0.5rem;
  }