.name-of-teammate {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.splash-footer {
  background-color: lightcoral;
  height: 5vh;
  justify-content: space-evenly;
  bottom: 0;
  position: fixed;
  width: 100%;
}
.splash-footer-container {
  padding-top: 7px;
  margin-bottom: 7px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.christian-div > a {
  margin-right: 5px;
}

.davis-div > a {
  margin-right: 5px;
}

.jimmy-div > a {
  margin-right: 5px;
}
