body {
  background-color: lightgoldenrodyellow;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

@media screen and (max-width: 800px) {
  .cards-item {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .card {
    width: 70%;
    min-width: 300px;
  }
}

@media screen and (min-width: 801px) {
  .cards-item {
    display: flex;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
  }
  .card {
    width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .cards-item {
    display: flex;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
  }
  .card {
    width: 25%;
  }
}

.content-container {
  background-color: lightgoldenrodyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  width: 80%;
  padding-bottom: 3rem;
}

.cards-item {
  display: flex;
  justify-content: center;
  display: flex;
  padding: 1rem;
}

.card {
  margin: 1rem;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: white;
  border-radius: 10px;
  position: relative;
  align-items: center;
}

.post-title {
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
}

.post-text {
  text-align: center;
}

.read-button {
  position: absolute;
  bottom: 0;
  color: green;
  height: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.1rem;
}

.header-container {
  margin: 1rem;
  margin-top: 4rem;
  font-size: larger;
}

.header-container h1 {
  color: green;
}
