body {
  font-size: 16px;
  background-color: lightcoral;
  display:flex;
  flex-direction: column;
  align-items:center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif'
}

.form-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

.form-box {
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 525px;
    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
    margin-bottom: 5rem;
}

.input-group{
    padding-top: 2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.recipe{
    width: 100%;
}

input {
  width: 70%;
  height: 3.5vh;
  flex-direction: column;
  align-items: center;
  margin: 0 0 15px;
  box-sizing: border-box;
  box-shadow: 0 4px 0 rgba(0,0,0,0.1);
  border-radius: 10px;
}

button[type="submit"]{
    padding: 10px;
    background-color: lightgreen;
    border-radius: 5px;
}

textarea{
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: lightyellow;
    resize:none
}

button[type="submit"]:hover{
    background-color: limegreen;
    transition:ease
}

.post-submit{
    background-color: limegreen;
    transition:ease;
    width: 100px;
    height: 40px;
    margin-top: 1rem;


}

img{
    width: 341px;
    height: 199px;
}

.selection{
    width: 70%;
    /* padding: 1rem; */
    margin-bottom: 1rem;

    display:flex;
    position:relative;
    flex-direction: row;
    justify-content:space-between;
}

select {
    width: 80px;
    text-align-last: center;
}

.crud-buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-buttons{
    transition:ease;
    width: 100px;
    height: 40px;
    margin-top: 1rem;
}

.comment-buttons{
    transition: ease;
    width: 54px;
    height: 20px;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 1rem;
}

.comment-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    align-content: flex-end;
    flex-wrap: nowrap;
}

.comment-field {
    width: 29rem;
    height: 4rem;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: lightyellow;
    resize: none;
    margin: 1rem;
}

#post-edit{
    background-color:lightgreen;
    border-radius: 10px;
    margin-right: 5px;
}

#post-edit:hover{
    background-color: limegreen;
    transition: ease;
}

#post-delete{
    background-color: rgb(241, 90, 90);
    color:white;
    border-radius: 10px;
    margin-left: 5px;
}

#post-delete:hover{
    background-color: rgb(255, 0, 0);
    transition: ease;
}

.comment-box.hidden{
    display:flex;
    align-items: flex-end;
}

#add-comment{
    text-align: center;
    margin-top: 1rem;
    background-color: lightgreen;
    border-radius: 5px;
}

#comment-text-area{
    height:4rem;
}

.hidden{
    display: none;
}

.emoji-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-around;
    align-content: space-around;

}

#emoji {
    margin: 0.5rem;
    border:none;
    background-color: transparent;

}

#emoji:hover{
    background-color: rgb(235, 218, 212);
}

.emoji-container{
    display:flex;
    flex-direction: column;
    align-content: center;

}

#count{
    margin: 0.5rem;
    text-align: center;
}

.demo {
    margin: 0.5rem;
    background-color: lightcoral;
    padding: 10px;
    border-radius: 5px;
}

.demo:hover{
    background-color:red;
    transition:ease;
}

.comments-container{
    display:flex;
    flex-direction: column;
    background-color:lightgoldenrodyellow;
    border: .5px solid black;
    border-radius: .3rem;
    margin-top: 1rem;
}

#comment-content{
    font-size: 1rem;
    margin: 1rem
}

#comment-user{
    font-size: .8rem;
    margin: 1rem;
}

#user-name{
    color:green
}
#comment-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-end;
    flex-grow: 2;
    justify-content: space-between;
}

.comment-edit {
    background-color:lightgreen;
}

.comment-delete {
    background-color: red;
    color:white
}

#comment-time{
    font-family: monospace;
    font-size: x-small;
    max-width: 24ch;
    overflow: hidden;
    text-overflow:clip;
    white-space: nowrap;
    margin: 1rem
}
#user-time{
    font-size: x-small;
}
