nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightcoral;
  width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  padding: 1rem;
}

img {
  width: 341px;
  height: 199px;
}

.nav-link:hover {
  color: lightcoral;
  background-color: #FAFAD2;
  border-radius: 100% 100% 0% 0%;
}

.link {
  text-decoration: none;
}