body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif'
}

.nav-container{
    background-color: lightcoral;
    display:flex;
    justify-content:space-between
}

.nav-items{
    justify-content: flex-end;
    align-self: center;
}

.nav-items > a{
    justify-content: flex-end;
    padding:5px;
    margin-right: 5px;
}

.nav-items > a:hover{
    text-decoration: underline;
}

.nav-items > a button:hover{
    background-color: limegreen;
    transition:ease;
}

img{
    justify-self: flex-start;
    margin-left: 10px;
    width: 100px;
    height: 90px;
}


a {
    text-decoration: none;
}

button {
    background-color:lightgreen;
    border-radius: 99em;
    padding: 7px 20px 9px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-top: -40%;
}

.taco-pic{
    width: 341px;
    height: 350px;
}

.line{
    border-style: solid;
    border-width: thin;
    width: 100%;
}

.content-container {
    background-color:rgb(248, 178, 178);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.box-container {
    display: grid;
    justify-items: center;
    width: 60%;
    padding: 1rem;
    grid-template-areas:
            "head logo"
            "foot logo"
            "button button";
}

.box-container > h1 {
    /* display: block; */
    display: flex;
    justify-self: flex-start;
    grid-area: head;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 300;
    letter-spacing: -0.05em;
    line-height: 55px;
    font-size: 55px;
    /* margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    width: 50%;
}

.box-container > h3 {
    margin-top: -20%;
    display: flex;
    justify-self: flex-start;
    grid-area: foot;
}

.box-container > a {
    margin-top: 1rem;
    display: flex;
    justify-self: flex-start;
    grid-area: button;
}

.box-container > a button:hover{
    background-color: limegreen;
    transition:ease;
}

.post-box-container{
    background-color:lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
}

.splash-post-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
    flex-direction: row;
    /* flex-wrap:wrap; */
    max-width: 75%;
}

.splash-number-container {
    display:flex;
    position: relative;
    justify-content: space-evenly;
}

.splash-post-number{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    color: rgb(243, 131, 131);
    align-self: flex-start;
    opacity: 0.6;
}

.splash-post-box{
    display: flex;
    flex-direction: column;
    justify-self: space-evenly;
    justify-content: space-evenly;
    margin-right: auto;
    flex-basis: 33.333333%;
    padding-right: 12px;
    padding-left: 12px;
}

.splash-post-title{
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 800;
    font-size:19px;
    letter-spacing: 0;
    line-height: 20px;
    justify-self:center;
    opacity: 0.6;

}

.splash-post-date{
    /* align-self:flex-end; */
    flex-direction: row;
    justify-self: flex-start;
    font-size: 12px;
    line-height: 20px;
    color: rgb(243, 131, 131);
}
